{extend name="public/basic" /}

{block name="title"}编辑用户{/block}

{block name="content"}
<ul id="myTab" class="nav nav-tabs">
    <li><a href="{:url('admin/user/index')}">用户列表</a></li>
    <li><a href="{:url('admin/user/add')}">添加用户</a></li>
    <li class="active"><a href="{:url('admin/user/edit', ['id' => $item['id']])}">编辑用户</a></li>
</ul>
<div class="placeholder"></div>
<form method="post" action="{:url('admin/user/editPost')}" class="form-horizontal" role="form">
    <input type="hidden" name="id" id="id">
    {include file="user/form" /}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">编辑</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
{include file="base@public/script"}
{/block}